<div class="conatiner">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create two new Components (manually or with CLI ) : WarningAlert and SuccessAlert</li>
                <li>Output them beneath each other in the AppComponent</li>
                <li>Output a arning or success message in the Components</li>
                <li>Style the Components Appropriately (maybe some red/green text?)</li>
            </ol>
            <p>Use external or Internal templates or styles</p>
            <p>Feel free to create components, nest them into each other or play around with different types of selectors</p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
            
            <app-servers></app-servers>
        </div>
    </div>
</div>

